[Unit]
Description=system-installer auto-start service

[Service]
Type=simple
ExecStart=/usr/bin/system-installer --systemd-launch

[Install]
WantedBy=graphical.target
