Package: system-installer
Version: 0.6.0-alpha7
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: admin
Architecture: all
Priority: important
Depends: bc, arch-install-scripts, python3 (>=3.6.7-1~18.04), bash, python-gtk2 (>=2.24.0-5.1ubuntu2), coreutils (>=8.28-1ubuntu1), apt (>=1.6.11), squashfs-tools (>=1:4.3-6ubuntu0.18.04.1), zenity (>=3.28.1-1), util-linux (>=2.31.1-0.4ubuntu3.3), grub2-common (>=2.02-2ubuntu8.13), initramfs-tools (>=0.130ubuntu3.8), systemd (>=237-3ubuntu10.24), locales (>=2.27-3ubuntu1), procps (>=2:3.3.12-3ubuntu1.1), grep (>=3.1-2), keyboard-configuration, e2fsprogs (>=1.45.3-4ubuntu2), dosfstools (>=4.1-2), util-linux (>=2.34-0.1ubuntu2), parted (>=3.2-26)
Description: System Installer for Drauger OS
 System Installer for Drauger OS

