Package: system-installer
Version: 0.3.6-alpha4
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: admin
Architecture: all
Priority: important
Depends: bc, arch-install-scripts, python3 (>=3.6.7-1~18.04), bash, python-gtk2 (>=2.24.0-5.1ubuntu2), coreutils (>=8.28-1ubuntu1), apt (>=1.6.11), squashfs-tools (>=1:4.3-6ubuntu0.18.04.1), zenity (>=3.28.1-1), util-linux (>=2.31.1-0.4ubuntu3.3), grub2-common (>=2.02-2ubuntu8.13), initramfs-tools (>=0.130ubuntu3.8), systemd (>=237-3ubuntu10.24), locales (>=2.27-3ubuntu1), procps (>=2:3.3.12-3ubuntu1.1), grep (>=3.1-2)
Description: System Installer for Drauger OS
 Experimental System Installer for Drauger OS

