Package: system-installer
Version: 1.4.6-beta4
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: admin
Architecture: all
Priority: important
Depends: arch-install-scripts, python3 (>=3.6.7-1~18.04), bash, gir1.2-gtk-3.0 (>=3.24.12-1ubuntu1), coreutils (>=8.28-1ubuntu1), apt (>=1.6.11), squashfs-tools (>=1:4.3-6ubuntu0.18.04.1), zenity (>=3.28.1-1), grub2-common (>=2.02-2ubuntu8.13), initramfs-tools (>=0.130ubuntu3.8), systemd (>=237-3ubuntu10.24), locales (>=2.27-3ubuntu1), procps (>=2:3.3.12-3ubuntu1.1), grep (>=3.1-2), keyboard-configuration, util-linux (>=2.34-0.1ubuntu2), parted (>=3.2-26), sendmail, python3-psutil (>=5.5.0), python3-apt (>=2.0.0)
Description: System Installer for Drauger OS
 System Installer for Drauger OS

