# Default quick-installer config
# usage of a custom file will be supported in future releases
# 
# Any line starting with a '#' is considered a comment
# The ammount of white space between a setting name, the equals sign (=) and the setting value is arbitrary and non-significant. Have however much you want!
# All setting values MUST be on the same line as the setting name it corrsponds to
# 
#
# The following lines are mandatory
locale=en_US.UTF-8
timezone=EST
partitioner=ROOT:/dev/sda2,EFI:/dev/sda1,HOME:NONE,SWAP:/dev/sda3
username=admin
password=toor
hostname=computer-name
# The following lines are assumed to be false if missing, but they are optional
thirdparty=True
updates=False
auto-login=True

