[Desktop Entry]
Name=System Installer
Version=2.1.8
Exec=/usr/bin/system-installer --boot-time
Comment=Install Drauger OS to your internal drive
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;GTK;System;Utility;
Name[en_US]=system-installer.desktop
